{% extends 'template_main.html' %}

{% block main %}
  <div class="container-md mt-4">
    {% if not session["code_challenge"] %}
      <div class="alert alert-danger h5 text-center" role="alert">
        No pkce challenge created, go to <a href="{{ url_for('pkce_gen') }}">pkce</a> to create it
      </div>
    {% endif %}
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">1. Authentication</h5>
      <p class="card-text">Step one is to authenticate with the <em>/authorize</em> endpoint.</p>
      <a href="{{ auth_link }}" class="card-link">Click here to authorize</a>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">2. Authentication code</h5>
      <h6 class="card-subtitle mb-2 text-muted">Fill in the authentication code received</h6>
      <form>
        <div class="mb-3">
          <label for="AuthenticationCode" class="form-label">code</label>
          <input type="text" class="form-control" id="AuthenticationCode">
        </div>
        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
        <button type="submit" class="btn btn-primary btn-lg w-100">Submit</button>
      </form>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
        content.</p>
      <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a>
    </div>
  </div>
  <div class="card">
    <div class="card-body disabled">
      <h5 class="card-title">Curl</h5>
      <h6 class="card-subtitle mb-2 text-muted">Example post request via curl command</h6>

      <pre class="card-text">
        <code>curl -X TODO
          {% for key, value in params.items() -%}
            -d "{{ key }}={{ value }}"
          {% endfor %}
      </code>
      </pre>
    </div>
  </div>
  </div>
{% endblock %}
